.projects-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 7%;
    justify-content: center;
    
    font-size: min(4vw,1.1rem);
}

.project{
    width: max(22%,370px);

    margin-inline: 5px;
    margin-top: 0.75rem;
    min-width: 150px;
    border: 2px solid var(--border-color);
    padding: 1%;
    display: block;
    transition: 0.2s;
}

.project:hover{
    transform: scale(1.05);
}

.project-image{
    height: 200px;
    margin-bottom: 5%;
    filter: grayscale(100%);
    background-size:cover;
    transition: 0.2s;
}

.project-image:hover{
    filter: grayscale(0%);
}

.project-description{
    text-align: justify;
}


@media screen and (max-width:1100px) {
    .projects-container{
        width: 90%;
    }
    .project{
        margin-top:1rem;
    }
}