.navbar{
    width : 10%;
    height: 100%;
    position: fixed;
    display: flex;
    right: 0;
    top:0;
    justify-content: flex-end;
    align-items: center;
    /* background-color: #FFF; */
    padding-right: 2rem;
}

.navbar-list li{
    list-style-type: none;
    text-align: right;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family:Avenir;
    transition: 0.2s;
}

.navbar-list li:hover{
    border-bottom: 2px solid var(--border-color);
}