.landing-container{
    width: 65%;
    display: flex;
    margin: 0 auto;
    margin-top: 12%;
    justify-content: space-around;
}


.sadiq-image{
    background:url('../../../../../../public/assets/website_pic.png');
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
}   

.content{
    font-family: Avenir;
    text-align: center;
}

.content-title{
    font-size:max(5vw,3rem);
    letter-spacing: 1rem;
    width: 100%;
    text-align: center;
}

.content-body{
    font-size: min(4vw,1.4rem);
    text-align: center;
    width: 100%;
    padding-bottom: 5%;
}

.arrow-style{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
}

@media screen and (max-width: 1100px) {
    .landing-container{
        width: 100vw;
        padding-top: 10%;
        flex-wrap: wrap;
        margin-top: 0%;
        flex-direction: column;
        align-items: center;
    }

    .sadiq-image{
        height: max(30vw,200px);
        width: 100%;
        background-size: contain;
        background-position: center;
        border-bottom: 0px;
    }
    .content{
        padding-left: 0%;
        width: 50%;
    }

    .content-title{
        text-align: center;
        letter-spacing: min(0.2rem,1rem);
    }
    .arrow-style{
        text-align: center;
        font-size: 2rem;
    }
    .navbar{
        display:none
    }
}

@media screen and (max-width:500px) {
    .content{
        width: 80%;
    }
}

@media (prefers-color-scheme: dark) {
    .sadiq-image{
        filter: invert(1);  
    }
}