:root{
  --border-color: black;
  --background:white;
  --modal-background: rgba(0,0,0,0.6)
}

* {
  margin: 0;
  padding: 0;
}


@media (prefers-color-scheme: dark) {
  :root{
    --border-color:white;
    --background:rgb(30, 32, 46);
    --modal-background: rgba(255,255,255,0.1);
  }
  
  *{
    background-color: rgb(30, 32, 46);
    color: white;
  }
}
